---
// Import necessary components
import MainLayout from "@/layouts/MainLayout.astro";

import fonoaudiologo from "@images/teams/fonoaudiologo.jpg";
import medicoGeneral from "@images/teams/medicoGeneral.jpg";
import optometra from "@images/teams/optometra.jpg";
import profesionalCertificador from "@images/teams/profesionalCertificador.jpg";
import psicologo from "@images/teams/psicologo.jpg";

import { SITE } from "@data/constants";
import { Image } from "astro:assets";

interface Article {
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  single?: boolean;
  img?: any;
  imgAlt?: string;
  imgOne?: any;
  imgOneAlt?: string;
  imgTwo?: any;
  imgTwoAlt?: string;
}

const articles: Article[] = [
  {
    title: "Fonoaudióloga",
    subTitle: "Camila Enriquez",
    single: false,
    imgOne: fonoaudiologo,
  },
  {
    title: "Médica general",
    subTitle: "Estefania Gómez",
    single: false,
    imgOne: medicoGeneral,
  },
  {
    title: "Profesional certificador",
    subTitle: "Jose Luis Ibarra",
    single: false,
    imgOne: profesionalCertificador,
  },
  {
    title: "Psicóloga",
    subTitle: "Alejandra Troya",
    single: false,
    imgOne: psicologo,
  },

  {
    title: "Optometra",
    subTitle: "Camilo Rodríguez",
    single: false,
    imgOne: optometra,
  }
];

const pageTitle: string = `Equipo | ${SITE.title}`;
const title: string = "Equipo";
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://condupasto.com/team",
    url: "https://condupasto.com/team",
    name: "Condupasto | Equipo",
    description: "",
    isPartOf: {
      "@type": "WebSite",
      url: "https://condupasto.com",
      name: "Condupasto",
      description: "",
    },
    inLanguage: "en-US",
  }}
>
  <div class="mx-auto max-w-[85rem] px-4 pt-10 sm:px-6 lg:px-8 2xl:max-w-full">
    <div class="flex items-center justify-between gap-8 sm:mb-4 md:mb-4">
      <div class="flex items-center">
        <h1
          class="dark:text-neutral-200 text-balance text-2xl font-bold tracking-tight text-neutral-800 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
      </div>
    </div>
  </div>

  <div class="mx-auto grid max-w-6xl grid-cols-1 gap-6 px-6 py-10 sm:grid-cols-2">
    {
      articles.map((article) => (
        <div class="rounded-lg bg-white/80 dark:bg-gray-800/80 p-6 shadow-lg flex flex-col items-center text-center backdrop-blur-md">
          <h2 class="text-2xl font-extrabold tracking-tight text-neutral-800">
            {article.title}
          </h2>
          <p class="max-w-prose text-pretty font-normal text-neutral-600 sm:text-lg">
            {article.subTitle}
          </p>
  
          <div class="mt-4 w-full flex justify-center">
            <Image
              class="w-[250px] h-auto object-cover rounded-xl"
              src={article.imgOne}
              alt=""
            />
          </div>
        </div>
      ))
    }
  </div>
  
  
  
</MainLayout>
